.alteration {
  border: pxToRem(2px) solid $big-stone;
  width: pxToRem(300px);
  font-family: $font-base-futura;

  &__wrapper {
    background: $big-stone;
    color: $alabaster;
    @include text-size(pxToRem(12px), pxToRem(3.6px), pxToRem(16px));
    height: pxToRem(50px);
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      justify-content: normal;
      padding-left: pxToRem(37px);
    }
  }

  &__item {
    padding: pxToRem(40px) pxToRem(15px) 0 pxToRem(20px);
    display: flex;
    justify-content: space-between;

    &:last-child {
      padding-bottom: pxToRem(30px);
    }
  }

  &__selected {
    height: pxToRem(260px);
    overflow: auto;
  }

  &__price {
    @include text-size(pxToRem(12px), pxToRem(2px), pxToRem(20px));
    color: $black;
  }
}


@media only screen and (max-width: $screen-xs) {
  .alteration  {
    &__wrapper {
      @include text-size(pxToRem(10px), pxToRem(2px), pxToRem(13px));
      height: pxToRem(30px);
    }

    &__item {
      padding: pxToRem(20px) pxToRem(15px) 0 pxToRem(20px);
    }

    &__selected {
      height: pxToRem(170px);
    }
  }
}
