.alteration {
  border: pxToRem(2px) solid $big-stone;
  width: pxToRem(300px);
  font-family: $font-base-futura;
  margin: 0 auto;

  &__wrapper {
    background: $big-stone;
    color: $alabaster;
    @include text-size(pxToRem(12px), pxToRem(3.6px), pxToRem(16px));
    height: pxToRem(50px);
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      justify-content: normal;
      padding-left: pxToRem(37px);
    }
  }

  &__item {
    padding: pxToRem(40px) pxToRem(15px) 0 pxToRem(20px);
    display: flex;
    justify-content: space-between;

    &:last-child {
      padding-bottom: pxToRem(30px);
    }
  }

  &__selected {
    height: pxToRem(260px);
    padding-bottom: pxToRem(10px);
    overflow: auto;
  }

  &__price {
    @include text-size(pxToRem(12px), pxToRem(2px), pxToRem(20px));
    color: $black;
  }

  &__in-home {
    width: pxToRem(20px);
    height: pxToRem(20px);
    background: url('../../assets/icons/home-icon.png');
    background-size: cover;
    display: block;
    margin-left: pxToRem(20px);
  }

  & .input-group__text {
    border: solid pxToRem(1px) $black;
    @include text-size(pxToRem(12px), pxToRem(2px), pxToRem(14px));
    height: pxToRem(30px);
    width: pxToRem(170px);
    text-align: left;
    color: $approx-gray;
  }

  &__measurement {
    padding: pxToRem(15px) 0 0 pxToRem(50px);
  }

  &__checkbox-wrapper {
    display: flex;
  }
}


@media only screen and (max-width: $screen-xs) {
  .alteration  {
    &__wrapper {
      @include text-size(pxToRem(10px), pxToRem(2px), pxToRem(13px));
      height: pxToRem(30px);
    }

    &__item {
      padding: pxToRem(20px) pxToRem(15px) 0 pxToRem(20px);
    }

    &__selected {
      height: pxToRem(170px);
    }
  }
}
