.input-group {
  display: flex;

  &__without-border {
    border: none;
  }

  &__label, &__label-error {
    @include text-size(pxToRem(12px), pxToRem(2px), pxToRem(40px));
    font-family: $font-base-semi-bold;
  }

  &__label {
    color: $black;
    padding-right: pxToRem(14px);
  }

  &__label-error {
    color: $red;
    text-transform: uppercase;
  }

  &__text {
    width: calc(100% - 30px);
    padding: 0 pxToRem(15px);
    height: pxToRem(40px);
    font-family: $font-base-regular;
    color: $black;
    text-align: center;
    @include text-size(pxToRem(12px), pxToRem(4.5px), pxToRem(20px));
    background-color: $white;
    text-transform: uppercase;

    &:-ms-input-placeholder { /* IE10–11 */
      color: $light-gray;
    }

    &:focus {
      outline: none;
    }
  }

  &__border {
    border: pxToRem(1px) solid $light-gray;
    height: pxToRem(28px);
    text-align: left;

    &--error {
      border-color: $red;
    }
  }

  &__tooltip {
    width: pxToRem(15px);
    height: pxToRem(15px);
    background: url('../../assets/icons/question-icon.png');
    background-size: cover;
    display: block;
    margin-left: pxToRem(8px);
  }
}

@media only screen and (max-width: $screen-xs) {
  .input-group {
    &__label-error {
      font-size: pxToRem(8px);
      line-height: pxToRem(20px);
    }
  }
}
