.disclaimer {
  max-width: pxToRem(360px);
  text-align: center;
  margin: 0 auto;

  &__btnWrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    background-color: $red;
    display: block;
    text-align: center;
    width: pxToRem(200px);
    margin-top: pxToRem(15px);
  }
}

@media only screen and (max-width: $screen-xs) {
  .disclaimer  {
    padding: 0 pxToRem(20px);
  }
}
