.disclaimer {
  max-width: pxToRem(400px);
  text-align: center;
  margin: 0 auto;

  &__btnWrapper {
    display: flex;
    justify-content: center;
  }

  &__btn {
    background-color: $red;
    display: block;
    text-align: center;
    width: pxToRem(200px);
    margin-top: pxToRem(15px);
  }
}
