{
  "extends": [
    "prettier",
    "prettier/react",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "import/no-named-as-default-member": "off",
    "react/no-danger": 0,
    "max-len": "off",
    "no-plusplus": "off",
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single", "avoid-escape"],
    "react/prefer-stateless-function": [
      0
    ],
    "react/jsx-filename-extension": [
      0
    ],
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-mixed-operators": 0,
    "arrow-parens": 0,
    "prefer-template": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "function-paren-newline": 0,
    "react/button-has-type": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/prop-types": [2, { "ignore" : ["children", "matches"] }],
    "react/jsx-no-bind": "off",
    "react/jsx-one-expression-per-line": 0,
    "no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0,
    "react/jsx-no-duplicate-props": 2,
    "react/self-closing-comp": 2,
    "react/prefer-es6-class": 2,
    "react/no-string-refs": 2,
    "react/require-render-return": 2,
    "react/no-find-dom-node": 2,
    "react/no-is-mounted": 2,
    "react/jsx-no-comment-textnodes": 2,
    "react/jsx-curly-spacing": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/static-property-placement": 0,
    "react/jsx-props-no-spreading": 0,
    "no-empty": 0,
    "no-console": 0,
    "no-empty-pattern": 0,
    "no-cond-assign": 1,
    "semi": 0,
    "camelcase": 0,
    "comma-style": 0,
    "comma-dangle": 0,
    "dot-notation": 0,
    "no-await-in-loop": 0,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "max-nested-callbacks": [2, 3],
    "no-eval": 2,
    "no-implied-eval": 2,
    "no-new-func": 2,
    "guard-for-in": 2,
    "global-require": 0,
    "eqeqeq": 1,
    "no-else-return": 2,
    "no-redeclare": 2,
    "no-dupe-keys": 2,
    "radix": 2,
    "strict": [2, "never"],
    "no-shadow": 0,
    "no-delete-var": 2,
    "no-undef-init": 2,
    "no-shadow-restricted-names": 2,
    "no-unused-expressions": 0,
    "handle-callback-err": 0,
    "no-lonely-if": 2,
    "keyword-spacing": 2,
    "constructor-super": 2,
    "no-this-before-super": 2,
    "no-dupe-class-members": 2,
    "no-const-assign": 2,
    "prefer-spread": 2,
    "no-useless-concat": 2,
    "no-useless-escape": 0,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "react/no-children-prop": 0,
    "react/default-props-match-prop-types": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "quote-props": ["error", "consistent"]
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
