.btn {
  color: $alabaster;
  font-family: $font-base-bold;
  text-align: center;
  border: none;
  cursor: pointer;
  &:disabled {
    opacity: 0.7;
    cursor: unset;
  }

  &:focus {
    outline: none;
  }

  &__small {
    @include text-size(pxToRem(12px), pxToRem(2px), pxToRem(30px));
    height: pxToRem(35px);
  }

  &__medium {
    @include text-size(pxToRem(15px), pxToRem(4.5px), pxToRem(20px));
    height: pxToRem(40px);
    padding: 0 pxToRem(50px);
    font-family: $font-base-semi-bold;
    text-transform: uppercase;
  }

  &__lager {
    @include text-size(pxToRem(15px), pxToRem(4px), pxToRem(20px));
    height: pxToRem(50px);
  }

  &__primary {
    background-color: $shuttle-gray;
  }

  &__danger {
    background-color: $silver-rust;
  }

  &__success {
    background-color: $big-stone;
  }
}
