.landing .__react_component_tooltip.type-light.border {
  border: solid $flame-pea pxToRem(3px);
  padding: pxToRem(23px);

  &.place-right {
    margin-left: pxToRem(35px);

    &::before {
      border-right: pxToRem(27px) solid $flame-pea;
      border-bottom-width: pxToRem(15px);
      border-top-width: pxToRem(15px);
      left: pxToRem(-27px);
      margin-top: pxToRem(-10px);
    }

    &::after {
      border-right-width: pxToRem(27px);
      border-bottom-width: pxToRem(13px);
      border-top-width: pxToRem(13px);
      left: pxToRem(-24px);
      margin-top: pxToRem(-8px);
    }
  }
}
