.orders .__react_component_tooltip.show {
  opacity: 1;
}

.orders .__react_component_tooltip.type-light.border, .landing .__react_component_tooltip.type-light.border {
  padding: pxToRem(18px);

  &.place-right {
    margin-left: pxToRem(35px);

    &::before {
      border-bottom-width: pxToRem(15px);
      border-top-width: pxToRem(15px);
      left: pxToRem(-27px);
      margin-top: pxToRem(-10px);
    }

    &::after {
      border-right-width: pxToRem(27px);
      border-bottom-width: pxToRem(13px);
      border-top-width: pxToRem(13px);
      left: pxToRem(-24px);
      margin-top: pxToRem(-8px);
    }
  }
}

.landing .__react_component_tooltip.type-light.border {
  border: solid $red pxToRem(3px);

  &.place-right {

    &::before {
      border-right: pxToRem(27px) solid $red;
    }
  }
}

.orders .__react_component_tooltip.type-light.border {
  border: solid $sunglow pxToRem(3px);

  &.place-right {

    &::before {
      border-right: pxToRem(27px) solid $sunglow;
    }
  }

  &.place-bottom {

    &::before {
      border-bottom-color: $sunglow;
    }
  }
}

.input-group .__react_component_tooltip.type-light.border {
  border: solid $light-gray pxToRem(3px);
  padding: pxToRem(18px);

  &.place-right {

    &::before {
      border-right: pxToRem(27px) solid $light-gray;
    }
  }

  &.place-bottom {

    &::before {
      border-bottom-color: $light-gray;
    }
  }
}

@media only screen and (max-width: $screen-lg) {
  .orders .__react_component_tooltip.type-light.border, .landing .__react_component_tooltip.type-light.border {
    padding: pxToRem(16px);
  }
}
