@font-face {
  font-family: $font-base-bold;
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: $font-base-regular;
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: $font-base-semi-bold;
  src: url('../assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: $font-base-futura;
  src: url('../assets/fonts/Futura-Medium.otf');
}

@font-face {
  font-family: $font-base-light;
  src: url('../assets/fonts/OpenSans-Light.ttf');
}
