/* Colors */
$alabaster: #f7f7f7;
$big-stone: #193446;
$silver-rust: #c8bdb4;
$shuttle-gray: #576b78;
$light-gray: #bdbdbd;
$black: #000;
$white: #fff;
$red: #dd4e3e;
$gray: #808080;
$approx-gray: #828282;

/* font family */
$font-base-bold: 'Open Sans Bold';
$font-base-regular: 'Open Sans Regular';
$font-base-semi-bold: 'Open Sans Semi Bold';
$font-base-futura: 'Futura Medium';

/* breakpoints */
$screen-tn: pxToRem(320px);
$screen-xs: pxToRem(450px);
$screen-sm: pxToRem(768px);
$screen-md: pxToRem(1024px);
$screen-lg: pxToRem(1200px);
$screen-xl: pxToRem(1278px);

