.modal {
  @include absolute-position(50%, auto, auto, 50%);
  border: solid pxToRem(10px) $shuttle-gray;
  background: $white;
  width: pxToRem(600px);
  height: auto;
  z-index: 5;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);

  &__default {
    background: $white;
    text-align: center;

    .modal {
      &__header {
        display: none;
      }

      &__dialog {
        padding: pxToRem(35px);
      }
    }
  }

  &__icon {
    width: pxToRem(44px);
    height: pxToRem(28px);
    background: url('../../assets/icons/close-icon.png');
    background-size: cover;
    display: block;
    margin-left: pxToRem(8px);
  }

  &__dialog {
    padding: pxToRem(10px) 0 pxToRem(35px);
    height: 100%;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: pxToRem(10px);
    cursor: pointer;
  }

  &__body {
    padding-top: pxToRem(15px);
    padding-bottom: pxToRem(15px);
  }

  &__title {
    @include text-size(pxToRem(14px), pxToRem(3.5px), pxToRem(17px));
    color: $alabaster;
    font-family: $font-base-futura;
    text-align: center;
    text-transform: uppercase;
  }

  &__backdrop {
    @include absolute-position(0, 0, 0, 0);
  }
}

.modal-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: 4;
  overflow: hidden;
}

@media only screen and (max-width: $screen-sm) {
  .modal {
    width: 85.7%;
    top: 47%;
  }

  .modal-wrapper {
    display: flex;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 4;
    overflow: hidden;
  }
}

@media only screen and (max-width: $screen-xs) {
  .modal  {

    &__body {
      padding-top: 0;
    }

    &__dialog {
      padding: pxToRem(10px) 0;
    }
  }
}
