.landing {
  background-color: $shuttle-gray;
  width: 100%;
  min-height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: pxToRem(10px) 0;
  text-align: center;

  &__hemster-logo {
    & img {
      width: pxToRem(180px);
    }
  }

  &__hemster-logo {
    & img {
      width: pxToRem(177px);
    }
  }

  &__header, &__title, &__description, &__email {
    text-transform: uppercase;
    color: $alabaster;
    font-family: $font-base-semi-bold;
  }

  &__header {
    padding: pxToRem(40px) 0 pxToRem(46px);
    @include text-size(pxToRem(20px), pxToRem(6px), pxToRem(27px));
  }

  &__title, &__email{
    padding: pxToRem(60px) 0 pxToRem(4px);
    font-style: italic;
  }

  &__title {
    @include text-size(pxToRem(15px), pxToRem(4.5px), pxToRem(29px));
  }

  &__email {
    padding: pxToRem(14px) 0 0;
  }

  &__description {
    @include text-size(pxToRem(10px), pxToRem(3px), pxToRem(14px));
    font-style: italic;
    font-family: $font-base-light;
  }

  &__input {
    padding: pxToRem(11px) 0 0;
    display: block;
    margin: 0 auto;
    max-width: pxToRem(350px);
  }

  &__btn {
    margin: pxToRem(30px) auto 0;
    display: block;
  }

  &__tooltip {
    font-family: $font-base-semi-bold;
    color: $big-stone;
    text-transform: uppercase;
    @include text-size(pxToRem(10px), pxToRem(2px), pxToRem(18px));

    &__contact {
      padding-bottom: pxToRem(20px);
    }
  }
}

@media only screen and (max-width: $screen-xs) {
  .landing {

    &__header {
      padding: pxToRem(30px) 0 pxToRem(55px);
      @include text-size(pxToRem(15px), pxToRem(4.5px), pxToRem(20px));
    }

    &__title {
      @include text-size(pxToRem(12px), pxToRem(3.6px), pxToRem(16px));
      padding: pxToRem(40px) 0 pxToRem(4px);
    }

    &__description {
      letter-spacing: pxToRem(1.5px);
    }

    &__input {
      max-width: pxToRem(250px);
    }

    &__tooltip {
      font-size: pxToRem(8px);
    }
  }
}

@media only screen and (max-width: $screen-tn) {
  .landing {

    &__header {
      padding: pxToRem(20px) 0 pxToRem(40px);
      @include text-size(pxToRem(15px), pxToRem(4.5px), pxToRem(20px));
    }

    &__title {
      @include text-size(pxToRem(11.5px), pxToRem(3px), pxToRem(16px));
    }

    &__description {
      @include text-size(pxToRem(9px), pxToRem(1px), pxToRem(14px));
    }

    &__input {
      max-width: pxToRem(250px);
      padding: pxToRem(9px) 0 pxToRem(25px);
    }
  }
}
